<% include partials/header %>

<div class="row text-center justify-content-center">
	<div class="col-sm-12">
		<h1>About MovieStore!</h1>
	</div>	
</div>
<div class="row justify-content-center">
	<div class="col-sm-10">
		<p>How many times have you been recommended a Movie or Series by your friend, and then forgotten about it immediately?
		And then when you want to start something new - your mind blanks out. Well, no more!</p>
	</div>
</div>
<div class="row text-center justify-content-center">
	<div class="col-sm-12" id="solution">
		<h3>MovieStore is the solution to all your Entertainment Needs!</h3>
	</div>	
</div>
<div class="row justify-content-center">
	<div class="col-sm-10">


		<p>A simple and user-friendly Web Application, MovieStore allows you to keep track of all the good things you're yet to see. With a Search feature that uses <a href="https://rapidapi.com/imdb/api/movie-database-imdb-alternative">RapidApi's IMDb API</a>, you get access to information on all the World's Top Movies and Series.</p>

		<p>Just look up the name of your Movie or Series, and add it to your WatchCart. You can attach comments to Saved Items, and when you're done, leave a review for yourself. You can also remove stuff from your Cart - but I think you should save the Good things you're recommended.</p>

		<p><em>MovieStore is built with ExpressJS, in conjunction with MongoDB, as I find JavaScript easy to use and understand, and accessing the database with Mongoose is super-simple.</em></p>

		Here's a look at the package.json list of dependencies of this app:
		<ul>
			<li>"body-parser": "^1.19.0"</li>
			<li>"connect-flash": "^0.1.1"</li>
			<li>"ejs": "^2.6.2"</li>
			<li>"express": "^4.17.1"</li>
			<li>"express-session": "^1.16.2"</li>
			<li>"method-override": "^3.0.0"</li>
			<li>"mongoose": "^5.6.9"</li>
			<li>"passport": "^0.4.0"</li>
			<li>"passport-local": "^1.0.0"</li>
			<li>"passport-local-mongoose": "^5.0.1"</li>
			<li>"unirest": "^0.6.0"</li>
		</ul>

		<p>MovieStore was created by me, Avi Gupta, as my first Web Application - to put to use the things I'd learnt from Web Development.</p>

		<p>Thank You for using MovieStore! I'l try to create an Android App for this in the future - I'll keep you posted.</p>

		<p><strong>Trademark 2019</strong></p>
	</div>	
</div>

<% include partials/footer %>